{% extends 'events/base.html' %}
{% block content %}
    {% load socialaccount %}
    <div class="shadow bg-body p-4 mb-5 rounded">
        <h1>Login</h1>
        <br>
        <br>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Username</label>
                <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" id="exampleInputPassword1">
            </div>
            <div class="d-flex">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a class="btn btn-primary mx-4" href="{% provider_login_url 'google' %}?next=/">Google Login</a>
            </div>
            </form>

    </div>
{% endblock %}