{% extends 'events/base.html' %}
{% block content %}
    <div>
        <h1>Venues</h1>
        <br><br>
        <table class="table table-bordered table-striped table-hover">
            {% for venue in list %}
                <tr>
                    <td class="d-flex flex-row justify-content-between">
                        <a href="{% url 'show-venue' venue.id %}">{{ venue }}</a>
                        <div class="ml-auto">
                            <a class="btn btn-outline-secondary" href="{% url 'update-venue' venue.id %}">Update</a>
                            <a class="btn btn-outline-danger" href="{% url 'delete-venue' venue.id %}">Delete</a>
                        </div>
                        <br/>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% if list.has_previous %}
        <a href="?page=1">&laquo;</a>
        <a href="?page={{ list.previous_page_number }}">previous</a>
    {% endif %}
    Page {{ list.number }} of {{ list.paginator.num_pages }}
    {% if list.has_next %}
        <a href="?page={{ list.next_page_number }}">next</a>
        <a href="?page={{ list.paginator.num_pages }}">&raquo;</a>
    {% endif %}

    </div>
{% endblock %}