{% extends 'events/base.html' %}
{% block content %}
    <div>
        <h1>Venues</h1>
        <br><br>
        <table class="table table-bordered table-striped table-hover">
            {% for venue in list %}
                <tr>
                    <td class="d-flex flex-row justify-content-between">
                        <a href="{% url 'show-venue' venue.id %}">{{ venue }}</a>
                        <div class="ml-auto">
                            <a class="btn btn-outline-secondary" href="{% url 'update-venue' venue.id %}">Update</a>
                            <a class="btn btn-outline-danger" href="{% url 'delete-venue' venue.id %}">Delete</a>
                        </div>
                        <br/>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}