{% extends 'events/base.html' %}
{% block content %}
    <div>
        <h1>Venues</h1>
        <br><br>
        <table class="table table-bordered table-striped table-hover">
            {% for venue in list %}
                <tr>
                    <td class="d-flex flex-row justify-content-between">
                        <a href="{% url 'show-venue' venue.id %}">{{ venue }}</a>
                        <div class="ml-auto">
                            <a class="btn btn-outline-secondary" href="{% url 'update-venue' venue.id %}">Update</a>
                            <a class="btn btn-outline-danger" href="{% url 'delete-venue' venue.id %}">Delete</a>
                        </div>
                        <br/>
                    </td>
                </tr>
            {% endfor %}
        </table>

{#    Pagination logic   #}
    <nav>
      <ul class="pagination">
          {% if list.has_previous %}
              <li class="page-item"><a class="page-link" href="?page={{ list.previous_page_number }}">Previous</a></li>
          {% else %}
              <li class="page-item disabled"><a class="page-link">Previous</a></li>
          {% endif %}
          {% for i in pages %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
          {% endfor %}
          {% if list.has_next %}
              <li class="page-item"><a class="page-link" href="?page={{ list.next_page_number }}">Next</a></li>
          {% else %}
              <li class="page-item disabled"><a class="page-link">Next</a></li>
          {% endif %}
      </ul>
    </nav>

    </div>
{% endblock %}